@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.buttons {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  margin-left: 100px;
  padding: 2px 10px 2px 10px;
  border: 0;
  transform: scale(1.7);
}
@media (max-width:500px) {
    .buttons button {
        margin-left: 30px;
        padding: 2px 10px 2px 10px;
        border: 0;
        transform: scale(1.2);
      }
    
}


.buttons button:hover {
  background-color: black;
  color: white;
}
.buttons button:disabled:hover {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.buttons button.start {
  margin: 0;
}
